<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        <a name="top"></a>
        {{- partial "header.html" . -}}
        {{- partial "carousel.html" . -}}
        {{- partial "feature_photo.html" . -}}
        {{- block "customHeader" . }}{{- end }}
        {{- block "extraStyle" . }}{{- end }}
        <div class="container marketing">
        {{- partial "homepage-sections/features.html" . -}}
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "joinus.html" . -}}
        {{- partial "footer.html" . -}}
        </div>
        {{- partial "script.html" . -}}
    </body>
</html>
