<div id="featureCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#featureCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#featureCarousel" data-slide-to="1"></li>
          <li data-target="#featureCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active" style="background-image: url(/img/carousel/uiccourse.jpg);">
            <img class="first-slide" src="/img/carousel/name_inquiry.jpg" alt="Third slide">
            <div class="container">
              <div class="carousel-caption carousel-caption-dark d-none d-block text-left">
                <h4>HCC Project:</h4>
                <h1>uicCourse</h1>
                <p>
                  A course information query system for you.
                </p>
                <p>
                  <a class="btn btn-success" href="https://course.uichcc.app" role="button">Try it now</a>
                  <a class="btn btn-info" href="/projects/course/" role="button">Learn More</a>
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item" style="background-image: url(/img/carousel/salon.jpg);">
            <img class="first-slide" src="/img/carousel/salon.jpg" alt="Third slide">
            <div class="container">
              <div class="carousel-caption carousel-caption-dark d-none d-block text-left">
                <h4>HCC Activity:</h4>
                <h1>Technological Salon</h1>
                <p>
                  Information and resources
                </p>
                <p><a class="btn btn-primary" href="/salon/" role="button">Learn More</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item" style="background-image: url(https://i.loli.net/2017/09/09/59b3d65eb98bd.jpg);">
            <img class="first-slide" src="https://i.loli.net/2017/09/09/59b3d65eb98bd.jpg" alt="Third slide">
            <div class="container">
              <div class="carousel-caption carousel-caption-dark d-none d-block text-left">
                <h1>UIC HCC Computer Club</h1>
                <p>
                  An independent interest club in Beijing Normal University &ndash; Hong Kong Baptist University United
                  International College.
                </p>
                <p><a class="btn btn-primary" href="/about" role="button">About us</a></p>
              </div>
            </div>
          </div>
  
        </div>
  
        <a class="carousel-control-prev" href="#featureCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#featureCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>