<div id="featureCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" style="background-image: url(https://ooo.0o0.ooo/2017/06/15/594297574bf46.jpg);">
        <img class="first-slide" src="https://ooo.0o0.ooo/2017/06/15/594297574bf46.jpg" alt="First slide">
        <div class="container">
          <div class="carousel-caption carousel-caption-dark carousel-caption-dark d-none d-block text-left">
            <h1>{{ .Title }}</h1>
            <p>Subtitle</p>
          </div>
        </div>
      </div>
    </div>
  </div>