{{ if $.Params.featurePhoto }}
<div id="featureCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" style="background-image: url({{ .Params.feature_photo_url }});">
        <img class="first-slide" src="{{ .Params.feature_photo_url }}" alt="First slide">
        <div class="container">
          <div class="carousel-caption carousel-caption-dark carousel-caption-dark d-none d-block text-left">
            <h1>{{ .Title }}</h1>
            <p>{{ .Params.subtitle }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}