<head>
    <meta charset="utf-8">
    <meta name="keywords" content="{{ $.Site.Params.siteKeyword }}">
    <meta name="description" content="{{ $.Site.Params.siteDescription }}">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <title>{{ block "title" . }}{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
    {{ if .IsTranslated }}
        {{ range .Translations }}
            <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
        {{ end }}
    {{ end }}
    <link rel="icon" href="{{ "img/favicon.ico" | relURL }}">

    <!-- Bootstrap core CSS -->
    <link href="{{ "css/bootstrap.min.css" | relURL }}" rel="stylesheet">

    {{ if $.Params.enableFA }}
    <!-- Font-awesome CSS -->
    <script src="https://kit.fontawesome.com/ec567a7594.js"></script>
    {{ end }}

    {{ if eq .Language.Lang "cn"}}
    <link href="{{ "css/global-cn-style.css" | relURL }}" rel="stylesheet">
    {{ end }}

    <!-- Syntax Highlight style github -->
    <link href="{{ "css/syntax.css" | relURL }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ "css/style.css" | relURL }}" rel="stylesheet">
</head>