<head>
    <meta charset="utf-8">
    <meta name="keywords" content="UIC, Computer, CS, CST, Computer Science, 计算机, 联合国际学院, 计算机科学, 计算机科学与技术 ">
    <meta name="description" content="UIC HCC 计算机俱乐部网站">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <title>{{ block "title" . }}{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
    <link rel="icon" href="{{ "img/favicon.ico" | relURL }}">

    <!-- Bootstrap core CSS -->
    <link href="{{ "css/bootstrap.min.css" | relURL }}" rel="stylesheet">

    <!-- Font-awesome CSS -->
    <script src="https://kit.fontawesome.com/ec567a7594.js"></script>

    <!-- Custom styles for this template -->
    <link href="{{ "css/style.css" | relURL }}" rel="stylesheet">
</head>