<hr class="featurette-divider">
<div class="row featurette">
<div class="col">
<h2 class="featurette-heading">Join us. <span class="text-muted">We'll blow your mind.</span></h2>
<p class="lead">
We need you. If you have something that can "show off", and you are willing to share it, you are more than
welcomed to join us. All our work are opened to the society for free&mdash;free as in freedom, not free beers.
</p>
<p class="lead">
You do not even need to be able to program; we need you for art direction and user experience improvements.
If you find something interesting but we are not paying attention to it, please do not hesitate to contact
us! You can achieve your dream here!
</p>
<p>
<a class="btn btn-lg btn-success" href="/about/reservation.html">
Learn More
</a>
</p>
</div>
</div>