{{ if $.Params.enableJoinUs }}
<hr class="featurette-divider">
<div class="row featurette">
    <div class="col">
        <h2 class="featurette-heading">{{ T "joinus_title" }}</h2>
        <p class="lead">
        {{ T "joinus_body_1" }}
        </p>
        <p class="lead">
        {{ T "joinus_body_2" }}
        </p>
        <p>
        <a class="btn btn-lg btn-success" href="{{ relref . "about/reservation" }}">
            {{ T "learn_more" }}
        </a>
        </p>
    </div>
</div>
{{ end }}