/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 3rem;
  color: #5a5a5a;
  height: 100%;
}
/* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */

.nav-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  background-color: #343a40;
}

.navbar-icon {
  display: inline-block;
  margin-right: 2rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.nav-text-padding {
  padding-left: 2rem;
}

.thx {
  text-align: center;
}

.thx > a {
  margin-right: 15px;
  margin-left: 15px;
  font-size: 30px;
}

.thx > a > span {
  color: #777777;
}

.table {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.headingIcon > i {
  margin-right: 20px;
}

.contact {
  padding: 1rem;
}
.contact > .fab {
  margin: 0 0 2rem 0;
}
.contact > .fas {
  margin: 0 0 2rem 0;
}
.contact > h4 {
  padding-bottom: 1rem;
}
/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  bottom: 3rem;
}

.carousel-caption-dark {
  color: #fff;
  text-shadow: 0 0 1rem rgba(0, 0, 0, 1);
}

.carousel-caption-bright {
  color: #000;
  text-shadow: 0 0 0.5rem rgba(255, 255, 255, 1);
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 40rem;
  background-color: #777;
  background-size: cover;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  visibility: hidden;
}

/* MARKETING CONTENT
  -------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.projects > .row {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
/* Featurettes
  ------------------------- */

.featurette-divider {
  margin: 4rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
}

/* RESPONSIVE CSS
  -------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
  }
}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.bs-callout h1,
.bs-callout h2,
.bs-callout h3,
.bs-callout h4,
.bs-callout h5,
.bs-callout h6 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 3px;
}
.bs-callout + .bs-callout {
  margin-top: -5px;
}

.bs-callout-default {
  border-left-color: #777;
}
.bs-callout-default h1,
.bs-callout-default h2,
.bs-callout-default h3,
.bs-callout-default h4,
.bs-callout-default h5,
.bs-callout-default h6 {
  color: #777;
}
.bs-callout-primary {
  border-left-color: #428bca;
}
.bs-callout-primary h1,
.bs-callout-primary h2,
.bs-callout-primary h3,
.bs-callout-primary h4,
.bs-callout-primary h5,
.bs-callout-primary h6 {
  color: #428bca;
}

.bs-callout-success {
  border-left-color: #5cb85c;
}
.bs-callout-success h1,
.bs-callout-success h2,
.bs-callout-success h3,
.bs-callout-success h4,
.bs-callout-success h5,
.bs-callout-success h6 {
  color: #5cb85c;
}
.bs-callout-danger {
  border-left-color: #d9534f;
}
.bs-callout-danger h1,
.bs-callout-danger h2,
.bs-callout-danger h3,
.bs-callout-danger h4,
.bs-callout-danger h5,
.bs-callout-danger h6 {
  color: #d9534f;
}

.bs-callout-warning {
  border-left-color: #f0ad4e;
}
.bs-callout-warning h1,
.bs-callout-warning h2,
.bs-callout-default h3,
.bs-callout-default h4,
.bs-callout-default h5,
.bs-callout-default h6 {
  color: #f0ad4e;
}

.bs-callout-info {
  border-left-color: #5bc0de;
}
.bs-callout-info h1,
.bs-callout-info h2,
.bs-callout-info h3,
.bs-callout-info h4,
.bs-callout-info h5,
.bs-callout-info h6 {
  color: #5bc0de;
}
